

body
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container_header
{
    background-color: #123C4B;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    display: inline;
}

.container_header_nav
{
    padding: 3rem;
    margin: 14rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.container_header_nav_text
{
    color: white;
    font-size: 16px;
    width: 94px;
    height: 24px;
    font: bold;
    font-family: 'Poppins', sans-serif;
}

.container_header_nav__text
{
    justify-content: start;
    align-items: start;
    gap: 2.5rem;
    display: inline;

}

.container_header_nav__text_
{
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

    .container_header_nav__text_get
    {
        border-radius: 50%;
        cursor: pointer;
        border: 16px;
        border: 2px solid brown;
        gap: 5px;
        display: flex;

        .container_header_nav__text_get
        {
            color: white;
            font-size: 16px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }
    }
}

.container_Span
{
    width: 100%;
    height: 18rem;
}

.container_mainBar
{
    background-color: #123C4B;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    bottom: 100px;

    .container_mainBar_wrapper
    {
        width: 65rem;
        height: 18rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 8rem;
        z-index: 100;

        .container_mainBar_wapper_menu
        {
            height: 15rem;
            gap:8rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .container_mainBar_wapper_menu_grid
            {
                display: grid;
            }
            
            .container_mainBar_wapper_menu_card
            {
                width: 10rem;
                height: 10rem;
                padding: 5rem;
                background-color: #123C4B;
                border-radius: 20rem;
                justify-content: center;
                align-items: center;
                gap: 15px;
                display: flex;
            }
        }
    }

    
}

@media(min-with: 350px) {
    .container_header_nav
    {
        position: relative;
        right: 50px;
        top: 50px;

    }
}

@media(min-with: 390px) {
    .container_header_nav
    {
        position: relative;
        right: 50px;
        top: 50px;
        
    }
}